/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
	font-family: 'Tahoma', 'Ariel', sans-serif;
	color: darkgrey;
	background-color: white;
	font-size: .8em;
}

input, textarea {
	background-color: white;
	border: 1px solid darkgrey;
	margin: 3px;
}

strong {
	font-weight: normal;
	font-style: italic;
	padding-right: 30px;
}

table strong {
	padding-right: 2px;
}

hr {
	background: #cfe795;
	border: 0;
	height: 2px;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	color: #719500;
}

a:link, a:visited {
	color:  #719500
}

#alert {
	color: red;
}

#notice {
	color: green;
}

